.scroll-to-top-button {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}

.scroll-to-top-button.show {
  opacity: 0.8;
  visibility: visible;
}
