@import '../../styles/variables.scss';

.about-us {
  margin-top: 100px;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__video-wrapper {
    position: relative;
  }

  &__video {
    width: 100%;
    margin-top: 32px;
    object-fit: contain;
    border: 1px solid $border;
    border-radius: 40px;
  }

  &__video-play-button {
    width: 178px;
    height: 178px;
    padding: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
}
