$containerWidth: 1322px;

$white: #fff;
$whiteGradient: linear-gradient(to right, #fff 0%, #000 100%);

$border: #ffffff33;
$propsBorder: #ffffff1a;
$borderRadius: 21px;

$mainRedColor: #f00;

$backgroundColor: #000;

$mainBlackColor: #000;

$transitionTime: 0.5s;
