@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.starship-section {
  position: relative;
  margin-top: 100px;
}

.swiper-controls {
  position: absolute;
  bottom: 1px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
  max-width: $containerWidth;
  height: 62px;
  z-index: 10;

  transform: translate(-50%, -50%);

  @include paddingInline;
}

.swiper-button {
  width: 62px;
  height: 62px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all $transitionTime linear;

  &:hover {
    transform: scale(1.1);
  }
}